Django==4.2.7
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap4==23.3
django-crispy-forms==2.1
django-environ==0.11.2
django-filter==23.5
django-widget-tweaks==1.5.0
django-widgets-improved==1.5.0
djangorestframework==3.14.0
gunicorn==21.2.0
openpyxl==3.1.2
psycopg2-binary==2.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
xlwings==0.30.13
whitenoise==6.6.0
beautifulsoup4==4.12.2