<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="/usr/bin/python3|/tmp/_preCompressedDestinationDir/antenv/lib/python3.12/site-packages/wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>

