<configuration>
  <system.webServer>

    <handlers>
      <!-- 既存の FastCGI ハンドラーはそのまま残す -->
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Users\54414\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\54414\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Djangoで管理される静的ファイルへのリクエストは、rewriteしない -->
        <rule name="Django Static Files" stopProcessing="true">
          <match url="^static/.*" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="Django Media Files" stopProcessing="true">
          <match url="^media/.*" ignoreCase="true" />
          <action type="None" />
        </rule>
        <!-- Django アプリケーションへのリクエストを WSGI ハンドラーに転送 -->
        <rule name="Django Application" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="handler.fcgi/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- 静的ファイルのMIMEタイプ設定 -->
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <!-- 他に必要なMIMEタイプがあればここに追加 -->
    </staticContent>

  </system.webServer>
</configuration>