{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'kosu/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'kosu/css/custom.css' %}">
  <style>
    .no-wrap {
        white-space: nowrap;
    }
  </style>
</head>
<body class="container">
  <h1 class="display-5 text-danger">{{title}}</h1>
  <p class="h6"><a href="{% url 'team_main' %}" class="text-danger">班員MENUへ</a></p>
  <form action="{% url 'class_list' %}" method="post">
  {% csrf_token %}
    <p>　</p>
    <p>
      ショップ指定
    </p>
    <p>
      {{shop_form.shop2}}
    </p>
    <p>
      年月指定
    </p>
    <p>
      <div class="number-input-group">
        {{schedule_form.year}}年
        {{schedule_form.month}}月
      </div>
    </p>
    <input type="submit" value="表示切替" name = update class="btn btn-orange7 mt-2">
    <p>　</p>
    <p>工数データが入力されている日付を選択すると詳細を閲覧できます。</p>
    <p>※この画面は大量のデータを扱うため動作が重くなっています。</p>
    <table class="table table-bordered border-dark table-custom">
      <tr>
        <td rowspan="2" class="no-wrap" style="text-align:center;">
          氏名
        </td>
        {% for d, w in day_list %}
        {% if w == "土" %}
          <td class="table-light_blue no-wrap" style="text-align:center;">
        {% else %}
        {% if w == "日" %}
          <td class="table-pink no-wrap" style="text-align:center;">
        {% else %}
          <td class="no-wrap" style="text-align:center;">
        {% endif %}
        {% endif %}
            {{d}}日
          </td>
        {% endfor %}
      </tr>
      <tr>
        {% for d in week_list %}
        {% if d == "土" %}
          <td class="table-light_blue no-wrap" style="text-align:center;">
        {% else %}
        {% if d == "日" %}
          <td class="table-pink no-wrap" style="text-align:center;">
        {% else %}
          <td class="no-wrap" style="text-align:center;">
        {% endif %}
        {% endif %}
            {{d}}
          </td>
        {% endfor %}
      </tr>

      {% for m in ok_list %}
      <tr>
        {% for k in m %}
          {% if forloop.first %}
          <td class="no-wrap" style="text-align:center;">
            {{k}}
          {% else %}
          {% if k.judgement == True %}
          <td class="table-green no-wrap fs-5" style="text-align:center;">
            <a href="{% url 'class_detail' k.id %}">OK</a>
          {% else %}
          {% if k.judgement == False %}
          <td class="no-wrap fs-5" style="text-align:center;">
            <a href="{% url 'class_detail' k.id %}">NG</a>
          {% else %}
          <td class="no-wrap fs-5" style="text-align:center;">
            NG
          {% endif %}
          {% endif %}
          {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>